body {
	background-color: black;
	border-style: solid;
	border-color: #ffffff;
	padding:25px;
	padding-top:0px;
	width:200px;
	font-family: 'Trebuchet MS', sans-serif;
}
h1 { 
	color: #ffffff;
}
label { /* choose a file */
	color: #ffffff;
}
button { /* upload file */
	background-color:#ffa31a;
	color:#000000;
	border-radius:6px;
	border: none;
}
input[type="file"]::file-selector-button { /* choose file */
	background-color:#ffa31a;
	color:#000000;
	border-radius:6px;
	border: none;
}
.aaa input{ /* file text */ 
	color:#ffffff;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipses;
	box-sizing: border-box;
	width:100%
}

