body {
	font-family: Yusei Magic, sans-serif;
}

.box {
	padding:20px;
	border-style:solid;
	border-color:#d6B4fc;
	background:#d6B4fc;
	text-align:center;
	font-weight:bold;
	font-size:120px;
	color:white
}
button {
	font-size:50px;
	border-radius:25px;
	border:none;
	background:#ffffff
}
.time {
	font-size:30px
}
.small {
	font-size:30px
}

.smaller {
	font-size:30px;
	display:inline;
	float:right;
}

.silly {
	animation::scroll-left 15s linear infinite;
	overflow:hidden;
	position: fixed;
	transform:translate(0, 30px);
	bottom: 0;
	left: 0;
	width:100%;
	z-index:10008;
}

.balance {
	transform: rotate(7deg);
	
}
